// =======================================
//    #CORE/HTML - IMAGES
// =======================================

img {
  border: 0;
  display: block;
  font-style: italic;
  height: auto;
  vertical-align: middle;
  width: 100%;
}