// ================================== //
//    #CORE/HTML - LINKS
// ================================== //

a {
  transition: color .3s ease-in-out;
  text-decoration: none;

  &:active,
  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {}
  &:hover {}
  &:focus {}
}
