<style>
  [class^='span-'] {
    border:1px solid black;
    background-color:yellow;
    opacity:0.5;
    text-align:center;
  }
</style>
<div class="wrapper">
  <div class="row">
    <div class="span-1of1">
      <div class="demo-block">
        <h1>{{title}}</h1>
        <p>To turn debug column guides off, uncomment debug section of app/styles/sass/1_core/_layout.scss</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span-12">
      <p>12</p>
    </div>
  </div>
  <div class="row">
    <div class="span-6 span-4@tablet center">
      <p>6</p>
    </div>
    <div class="span-6">
      <p>6</p>
    </div>
  </div>
  <div class="row">
    <div class="span-8 span-12@tablet">
      <p>8</p>
      <div class="span-8">
        <p>Inner 8</p>
      </div>
      <div class="span-4">
        <p>Inner 4</p>
      </div>
    </div>
    <div class="span-4">
      <p>4</p>
    </div>
  </div>
  <div class="row">
    <div class="span-5">
      <p>5</p>
    </div>
    <div class="span-5">
      <p>5</p>
    </div>
    <div class="span-5">
      <p>5</p>
    </div>
  </div>
  <div class="row">
    <div class="span-4">
      <p>4</p>
    </div>
    <div class="span-4">
      <p>4</p>
    </div>
    <div class="span-4">
      <p>4</p>
    </div>
  </div>
  <div class="row">
    <div class="span-3">
      <p>3</p>
    </div>
    <div class="span-3">
      <p>3</p>
    </div>
    <div class="span-3">
      <p>3</p>
    </div>
    <div class="span-3">
      <p>3</p>
    </div>
    <div class="span-3">
      <p>3</p>
    </div>
  </div>
  <div class="row">
    <div class="span-3">
      <p>3</p>
    </div>
    <div class="span-6">
      <p>6</p>
    </div>
    <div class="span-3">
      <p>3</p>
    </div>
  </div>
  <div class="row">
    <div class="span-2 push-1">
      <p>2, > 1</p>
    </div>
    <div class="span-2">
      <p>2</p>
    </div>
    <div class="span-2">
      <p>2</p>
    </div>
    <div class="span-2">
      <p>2</p>
    </div>
    <div class="span-2">
      <p>2</p>
    </div>
    <div class="span-2">
      <p>2</p>
    </div>
  </div>
  <div class="row">
    <div class="span-1of1">
      <div class="demo-block">
        <p>1of1</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span-1of2">
      <div class="demo-block">
        <p>1of2</p>
      </div>
    </div>
    <div class="span-1of2">
      <div class="demo-block">
        <p>1of2</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span-1of1 span-3of4@tablet">
      <div class="demo-block">
        <p>1of1, 3of4@tablet</p>
      </div>
    </div>
    <div class="span-1of1 span-1of4@tablet">
      <div class="demo-block">
        <p>1of1, 1of4@tablet</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span-1of3 push-3">
      <div class="demo-block">
        <p>1of3, > 3</p>
      </div>
    </div>
    <div class="span-5of12 ">
      <div class="demo-block">
        <p>5of12</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span-5of12">
      <div class="demo-block">
        <p>5of12</p>
      </div>
    </div>
    <div class="span-5of12 pull-3@tablet">
      <div class="demo-block">
        <p>5of12, < 3@tablet</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span-1of3">
      <div class="demo-block">
        <p>1of3</p>
      </div>
    </div>
    <div class="span-1of2">
      <div class="demo-block">
        <p>1of2</p>
      </div>
    </div>
    <div class="span-1of3">
      <div class="demo-block">
        <p>1of3</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span-1of4">
      <div class="demo-block">
        <p>1of4</p>
      </div>
    </div>
    <div class="span-1of4">
      <div class="demo-block">
        <p>1of4</p>
      </div>
    </div>
    <div class="span-1of4">
      <div class="demo-block">
        <p>1of4</p>
      </div>
    </div>
    <div class="span-1of4">
      <div class="demo-block">
        <p>1of4</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span-1of4">
      <div class="demo-block">
        <p>1of4</p>
      </div>
    </div>
    <div class="span-1of2">
      <div class="demo-block">
        <p>1of2</p>
      </div>
    </div>
    <div class="span-1of4">
      <div class="demo-block">
        <p>1of4</p>
      </div>
    </div>
  </div>
</div>
