<!doctype html>
<html lang="en" class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Genuine - UI Templates</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="cleartype" content="on">

  <link rel="shortcut icon" href="/favicon.ico">
  <script>
  // If fonts are cached, skip FFO.
  if (sessionStorage.fontsLoaded === 'true') {
    document.documentElement.classList.add("fonts-loaded")
  }
  else {
    var script = document.createElement("script")
    script.src = "/scripts/fontloader.built.js"
    script.async = true
    document.head.appendChild(script)
  }
  </script>

  <link rel="stylesheet" href="/styles/screen.css">

  {% for link in cssLinks %}
    <link rel="stylesheet" href="{{ link }}">
  {% endfor %}

</head>
  {% if not isBuild %}
    {% include '@includes/1_core/browser-sync.twig' %}
  {% endif %}
