{# layout.twig #}

{% include '@includes/1_core/head.twig' %}

{% if bodyClass is defined %}
<body class="{{ bodyClass }}">
{% else %}
<body>
{% endif %}

  {% include '@includes/4_regions/header.twig' %}

  {% block page %}{% endblock %}

  {% include '@includes/4_regions/footer.twig' %}

</body>

</html>
