// ========================================================================= //
//  Web Fonts
//
//
//  FOR REFERENCE: Font-weights by numeric value / name.
//  Side note: it is recommended that we to use the numeric value here to help clarify exactly which weight is getting referenced to.
//    100 = thin
//    200 = extra-light
//    300 = light
//    400 = normal, book
//    500 = medium
//    600 = demi-bold / semi-bold
//    700 = bold
//    800 = heavy / extra-bold / heavy
//    900 = black / extra-black / ultra-black
//
// ========================================================================= //


// Include Icon Fonts
//
@include font-face('icomoon', font-files('icomoon/icomoon.woff', 'icomoon/icomoon.ttf'), 'icomoon/icomoon.eot', 400, normal);


// Include Web Fonts
//
@include font-face('Roboto', font-files('roboto/roboto-regular.woff2', 'roboto/roboto-regular.woff'), 'roboto/roboto-regular.eot', 400, normal);
@include font-face('Roboto', font-files('roboto/roboto-bold.woff2', 'roboto/roboto-bold.woff'), 'roboto/roboto-bold.eot', 700, normal);


// Font Stacks
//
$fallbackSans: Helvetica, Arial, sans-serif;
$sans: 'Roboto', $fallbackSans;
$icomoon: 'icomoon';
