@mixin font-size($sizeValue: 1.6, $line: $sizeValue * 1.5, $important: 'not-important') {
  @if $important=='not-important' {
    font-size: $sizeValue * 1 + px;
    line-height: $line * 1 + px;
    font-size: $sizeValue / 10 + rem;
    line-height: $line / 10 + rem;
  } @else {
    font-size: $sizeValue * 1 + px !important;
    line-height: $line * 1 + px !important;
    font-size: $sizeValue / 10 + rem !important;
    line-height: $line / 10 + rem !important;
  }
}

@mixin trans($prop, $duration: .25s) {
  @include transition-property($prop);
  @include transition-duration($duration);
  @include transition-timing-function(ease-out);
}

