<footer class="global-footer">
  <section class="wrapper">
    [Global Footer]
  </section>
</footer>

<!-- Global script includes -->
<script src="/scripts/app.built.js" async></script>
<script src="/scripts/fontloader.built.js" async></script>
