///*------------------------------------*\
//    #UTILITY - COLOR CONTRAST
//\*------------------------------------*/
/* Note: Returns a light (#fff) or dark (#111) contrast color based on the specified base color
 * https://getbootstrap.com/docs/4.0/getting-started/theming/#color-contrast
 */

@mixin color-contrast($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

  // The yiq lightness value that determines when the lightness of color changes from "dark" to "light".
  // Acceptable values are between 0 and 255.
  @if ($yiq >= 150) {
    color: #111;
  } @else {
    color: #fff;
  }
}
