///*------------------------------------*\
//    #UTILITY - COLORS
//\*------------------------------------*/
/* Note: the palette function is included here (vs in the tools directory)
 * since both of these needed in order to work properly
 */

@function palette($palette, $tone: 'base') {
  @return map-get(map-get(map-get($palettes, colors), $palette), $tone);
}

$palettes: (
  colors: (
    black: (
      base: #000
    ),
    white: (
      base: #fff
    ),
    gray: (
      light: #d3d3d3,
      base: #bebebe,
      dark: #a9a9a9
    ),
    blue: (
      base: #0074D9
    )
  )
);

$white:   palette(white);
$black:   palette(black);

/** Ex. Light brown
p {
  color: palette(brown, light);
}
**/
