///*------------------------------------*\
//    #CORE/HTML - PAGE
//\*------------------------------------*/

* {
  box-sizing:border-box; // establishes border-box model for all elements
  word-wrap: normal;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // Remove default tappable touch color in iOS
}

html {
  font-size: 62.5%; // Sets up the Base 10 stuff
  height: 100%;
  min-height: 100vh;
}

body {
  @include font-size(16, 24);
  font-family: $fallbackSans;
  overflow-x: hidden;
  .fonts-loaded &{
    font-family: $sans;
    font-weight: 400;
  }
}
