///*------------------------------------*\
//    #CORE - ICONS
//\*------------------------------------*/
/* Note: Will be replaced once SVG feature branch is completed */

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 2rem;
  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:before {
    font-size: inherit;
    vertical-align: middle;
    display: inline-block;
    margin-right: 1.5rem;
  }
}

.icon{
  font-size: 2rem;
}

.icon-heart{
  &:before{
    content: '\e63b';
  }
}

.icon-schedule{
  &:before{
    content: '\e63f';
  }
}

.icon-user{
  &:before{
    content: '\e640';
  }
}

.icon-arrow-d{
  &:before{
    content: '\e600';
  }
}

.icon-arrow-l{
  &:before{
    content: '\e601';
  }
}

.icon-arrow-r{
  &:before{
    content: '\e602';
  }
}

%icon-arrow-u,
.icon-arrow-u{
  &:before{
    content: '\e603';
  }
}

.icon-bracket-d{
  &:before{
    content: '\e604';
  }
}

.icon-bracket-l{
  &:before{
    content: '\e605';
  }
}

.icon-bracket-r{
  &:before{
    content: '\e606';
  }
}

.icon-bracket-u{
  &:before{
    content: '\e607';
  }
}

.icon-cart{
  &:before{
    content: '\e608';
  }
}

.icon-chat{
  &:before{
    content: '\e609';
  }
}

.icon-facebook{
  &:before{
    content: '\e60a';
  }
}

.icon-home{
  &:before{
    content: '\e60c';
  }
}

.icon-info{
  &:before{
    content: '\e60d';
  }
}

.icon-instagram{
  &:before{
    content: '\e60e';
  }
}

.icon-mail{
  &:before{
    content: '\e60f';
  }
}

.icon-pinterest{
  &:before{
    content: '\e611';
  }
}

.icon-play{
  &:before{
    content: '\e612';
  }
}

.icon-resources{
  &:before{
    content: '\e613';
  }
}

.icon-search{
  &:before{
    content: '\e614';
  }
}

.icon-solid-arrow-d-u{
  &:before{
    content: '\e615';

  }
}

.icon-solid-arrow-d{
  &:before{
    content: '\e616';
  }
}

.icon-solid-arrow-l{
  &:before{
    content: '\e617';
  }
}

.icon-solid-arrow-r{
  &:before{
    content: '\e618';
  }
}

.icon-solid-arrow-u{
  &:before{
    content: '\e619';
  }
}

.icon-twitter{
  &:before{
    content: '\e61a';
  }
}
