// ================================== //
//    #CORE - WRAPPER
// ================================== //

:root {
  position: relative;
}

%wrapper,
.wrapper {
  @include container($desktop);
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
  width: 100%;

  &-wide {
    @include container($large-desktop);
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
  }

  &-narrow {
    @include container($large-tablet);
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
  }

  > .wrapper {
    max-width: none;
    padding: 0;
  }
}
