//= include includes/1_core/head.html

<body>

  //= include includes/4_regions/header.html

  <section class="outer-wrapper">
    <section class="inner-wrapper">
      <h1>Front End Template Directory</h1>

      <h5>Utility</h5>
      <ul>
        <li><a href="/_grid.html">Grid structure</a></li>
        <li><a href="/_styleguide.html">Base Style Guide</a></li>
      </ul>

      <h5>Layouts</h5>
      <ul>
        <li><a href="/t01-homepage.html">T01 - Homepage</a></li>
        <li><a href="/t02-inner-page.html">T02 - Inner Page</a></li>
      </ul>
    </section>
  </section>

  //= include includes/4_regions/footer.html

</body>

</html>
