{# t02-inner-page.twig #}
{% extends 'includes/1_core/layout.twig' %}

{% block page %}
  <section class="wrapper">
    <h1>{{ title }}</h1>
  </section>
  <section class="wrapper">

    {% include 'includes/3_components/example.card-container.twig' %}

  </section>
{% endblock %}
